<div id="before-page" style="background-image: url(<%= image_url('background.jpg') %>);">

  <div class="tint">

    <h2 class="text-center">Staple</h2>

    <div class="text-center" id="signup-section">


      <button type="button" name="button" class="btn btn-success btn-lg" id="signup" style="margin-left: -1em;">Sign Up</button>

      <button type="button" name="button" class="btn btn-primary btn-lg" id="login" style="margin-left: 2em;">Login</button>

      <br>

      <div class="main-alert col-sm-6 col-sm-offset-3">
        <%= render 'layouts/alerts' %>
      </div>

      <div class="col-sm-6 col-sm-offset-3 signup-forms" id="signup-form">
        <%= render 'users/new_user_form' %>
      </div>

      <div class="col-sm-6 col-sm-offset-3 signup-forms" id="login-form">
        <%= render 'session/login_form' %>
      </div>

    </div>

  </div>

</div>
