<p>
  <ul class="list-inline post_tag_list" style="margin-left: 0;">
    Tags:
      <% post.tag_list.each do |tag| %>
        <li><%= link_to tag, posts_with_tag_path(tag: tag), remote: true %></li>
      <% end %>
  </ul>
</p>
