<ul class="list-inline" id="posts-list">
  <% @posts.each do |post| %>
    <li class="list-item" id='post-<%= post.id %>'>
      <%= render partial: 'posts/post', locals: { post: post } %>
    </li>
  <% end %>
</ul>
