<% unless current_user.stapled.include? post.id %>
  <%= link_to staple_post_path(post_id: post.id), remote: true, method: :post do %>
    <button class="btn btn-success">Staple</button>
  <% end %>
<% else %>
  <%= link_to unstaple_post_path(post_id: post.id), remote: true, method: :post do %>
    <button class="btn btn-danger">Unstaple</button>
  <% end %>
<% end %>
