@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'users';
@import 'posts';
@import 'chosen';

html a {
  color: #18559F !important;
}

.margin-top {
  margin-top: 4em;
}

#post_photo {
  padding: 0;
  border: 0;
  box-shadow: 0 0 0 white;
  border-radius: 0;
}

body .main-alert {
  margin-top: 5em;
}

.navbar-fixed-bottom {
  border-left: 1px solid rgb(217, 220, 222);
  left: auto;
}
