@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'users';
@import 'posts';
@import "font-awesome";

.container-fluid {
  padding: 0;
}

html body {

  a {
    color: #18559F !important;
  }

  nav {
    span {
      color: #18559F !important;
    }
  }
}

.margin-top {
  margin-top: 4em;
}

#post_photo {
  padding: 0;
  border: 0;
  box-shadow: 0 0 0 white;
  border-radius: 0;
}

body .main-alert {
  margin-top: 5em;
}

.navbar-fixed-bottom {
  border-left: 1px solid rgb(217, 220, 222);
  left: auto;
}

nav * {

  ul li {
    margin-left: .5em;
    text-align: center;
  }
}

body #before-page {
  background-size: cover;
  background-repeat: no-repeat;

  .tint {
    background-color: rgba(52, 73, 94, 0.3);
  }

  h2 {
    color: #D35400;
    font-size: 4.5em;
    letter-spacing: .17em;
    font-family: Impact, Charcoal, sans-serif;
  }
}
