// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.staple-display {
  width: 270px;
  padding: 1em;
  margin-bottom: .5em;
}
